.form-control input{
   display: block;
   height: 22px;
   width: 400px;
   margin-top: 10px;
   margin-bottom: 10px;
  border: 1px solid rgb(17, 17, 255);
  border-radius: 4px;
}
.form-control{
    font-family: monospace;
    font-size:x-large;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
}
.form-control button{
    float:right;
    margin-top: 10px;
    font-family:cursive;
    font-size: large;
    background-color: rgba(70, 70, 252, 0.473);
}